
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../bootstrap/css/dark-mode.css">
    <link rel="stylesheet" href="../../bootstrap/css/light-mode.css">
    <link rel="stylesheet" href="../../bootstrap/css/estilos.css">
    <!--Boostrap-->   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
<!--Boostrap--> 

</head>


<body id="body" class="dark-mode" style="margin: 3%;">
   




    <div class="floating-bar">
        <div class="row">
            <div class="col-2 text-center">
              <a href="../index.php">
                <svg id="link" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                  </svg>
              </a>
            </div>
            <div class="col-8 text-center ">
                <p>ChatPhone</p> 
            </div>
            <div class="col-2">
                

            </div>
        </div>
    </div>


<br><br><br>
 
<div style="border-radius: 10px; margin-top:15%;padding: 5%;" class="text-center">
<h1 style="color: white; font-weight: bolder;">Disculpa, ha habido un error.</h1>
<br>
<p style="font-size: 17px; color: white;">No hemos encontrado ninguna cuenta asociada con el número de teléfono que ingresaste. Por favor, asegúrate de que el número sea el correcto y vuelve a intentarlo.</p>

</div>

<br>









<div style="margin-left:2%; margin-right:2%; left:-6px" class="modal fade text-center" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content background-modal" >
    
  
      <div class="modal-body">
    <h3 class="text_modal">ChatPhone</h3>
    <p class="text_modal" style="opacity:0.9">Inicia un nuevo chat</p>
    <hr class="hr-white">

    <p id="link" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Número de teléfono</p>
    <hr>
    <p id="link" data-bs-dismiss="modal" aria-label="Close"><b>Cancelar</b></p>

    </div>

    

    </div>
  </div>
</div>

   
    
</div>    
    
    
    
    
    
    
    
    
<br><br>













    <script src="../bootstrap/js/script.js"></script>
</body>
</html>