<style>
    .left
    {
        margin-left: 20px;
    }
</style>
<div>
    <div class="row">
        <div class="col-sm-12 col-lg-4 left">
          <h2>Nosotros</h2>
          <p class="card__category" >En nuestra tienda, encontrarás una cuidadosa selección de productos de alta calidad y ediciones especiales que se adaptan a tus intereses y gustos únicos. Ya seas un fanático de las historias de superhéroes, un ávido jugador de videojuegos o un coleccionista de figuras raras, estamos aquí para satisfacer tus necesidades.</p>
          <br>
          <h2>Nuestra mision</h2>
          <p class="card__category">Somos una tienda creada con pasión por y para los coleccionistas y entusiastas del mundo geek, friki y gamer. Nos apasiona proporcionar un espacio donde puedas encontrar una amplia variedad de artículos coleccionables, desde cómics y mangas hasta videojuegos y juegos de mesa. Nuestra misión es hacer que la obtención de tus artículos favoritos sea fácil y emocionante.</p>
        </div>
    <br>
        <div class="col-sm-12 col-lg-7 text-center">
          <h1>Nuestra ubicacion</h1>
          <p class="card__category"> Av. Hidalgo 1334, Primitivo Centro, 27000 Torreón, Coah.</p>
      <iframe style="width:100%; height:90%; border-radius:15px"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3600.033275675958!2d-103.46544792451171!3d25.537268477493672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x868fd9689c38aa7b%3A0x93f069a0cb99a84!2sPlaza%20de%20la%20Tecnolog%C3%ADa%20Torre%C3%B3n!5e0!3m2!1ses!2smx!4v1696054214019!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    
      </div>
</div>